.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
.content-table thead tr {
  background-color: #009879;
  color: white;
  text-align: left;
  font-weight: bold;
}

.content-table th,
td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.content-table tbody tr:nth-of-type(odd) {
  background-color: #a29595;
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.center {
  margin-left: 40%;
  margin-right: 30%;
}

.upperBtn {
  margin-left: 38%;
  padding-top: 15px;
}
.belowBtn {
  padding-top: 15px;
  margin-left: 45%;
}
.inputCenter {
  margin-left: 45%;
}
.left {
  margin-right: 12px;
  width: 75px;
}
.right {
  margin-left: 12px;
  width: 75px;
}

/* CSS */
/* button {
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
} */
